<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />

    <section name="ConfigurationCrm" type="Guardian.SDKServiceProvider.ConfigurationCrm, Guardian.SDKServiceProvider" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings> 
    <add key="MaxPage" value="5"/>
    <add key="marketlist" value="4300"/>
    <add key="campaign" value="4400"/>
    <add key="new_campaignsubtype" value="10125"/>
  </appSettings>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
      defaultCategory="Important" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        fileName="LOG\ERROR.log" footer="----------------------------------------"
        formatter="Text Formatter" header="----------------------------------------"
        rollFileExistsBehavior="Increment" rollInterval="None" rollSizeKB="20"
        timeStampPattern="yyyy-MM-dd" maxArchivedFiles="3" traceOutputOptions="None"
        filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="Timestamp: {timestamp(local)}{tab}Message: {message}{tab}Category: {category}{tab}Priority: {priority}{tab}EventId: {eventid}{tab}ActivityId: {property(ActivityId)}{tab}Severity: {severity}{tab}Title:{title}{tab}"
        name="Brief Format Text" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="Timestamp: {timestamp}{tab}Message: {message}{tab}Category: {category}{tab}Priority: {priority}{tab}EventId: {eventid}{tab}Severity: {severity}{tab}Title: {title}{tab}Activity ID: {property(ActivityId)}{tab}Machine: {localMachine}{tab}App Domain: {localAppDomain}{tab}ProcessId: {localProcessId}{tab}Process Name: {localProcessName}{tab}Thread Name: {threadName}{tab}Win32 ThreadId:{win32ThreadId}{tab}Extended Properties: {dictionary({key} - {value}{tab})}"
        name="Text Formatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        minimumPriority="2" maximumPriority="99" name="Priority Filter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        enabled="true" name="LogEnabled Filter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        categoryFilterMode="AllowAllExceptDenied" name="Category Filter">
        <categoryFilters>
          <add name="BlockedByFilter" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Important">
        <listeners>
          <!--<add name="Formatted EventLog TraceListener" />-->
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <!--<add name="UnprocessedFlatFile" />-->
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="Formatted EventLog TraceListener" />-->
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>


  <ConfigurationCrm CurrentServise="dev">
    <CrmServices>
      <ConfigurationCrmService Name="dev"
                               isO365Org="false"
                               SSL="true"
                               ServerAddress="https:/xxxx/x.x.com"
                               OrganizationName="TaglitDev"
                               DiscoveryUri="https://xxxx/XRMServices/2011/Discovery.svc"
                               OrganizationUri="https://xxxx/XRMServices/2011/Organization.svc"
                               UserPrincipalName=""
                               EndpointType="Federation"
                               PermissionConnectionString="Data Source=...;Initial Catalog=Guardian_Taglit;Connection Timeout=60;User Id=entitysharingadmin;Password=1qaz@@wsx;">
        <CredentialsClient UserName="" Domain="" Password=""/>
      </ConfigurationCrmService>

      <ConfigurationCrmService Name="test"
                               isO365Org="false"
                               SSL="true"
                               ServerAddress="https://taglitcrm.x.com"
                               OrganizationName="TaglitCrm"
                               DiscoveryUri="https://taglitcrm.x.com/XRMServices/2011/Discovery.svc"
                               OrganizationUri="https://taglitcrm.x.com/XRMServices/2011/Organization.svc"
                               UserPrincipalName=""
                               EndpointType="Federation"
                               PermissionConnectionString="Data Source=;Initial Catalog=xxx;Connection Timeout=60;User Id=;Password=;">
        <CredentialsClient UserName="" Domain="" Password=""/>
      </ConfigurationCrmService>

      <ConfigurationCrmService Name="integ"
                               isO365Org="false"
                               SSL="true"
                               ServerAddress="https://.x.com/main.aspx"
                               OrganizationName="TaglitInteg"
                               DiscoveryUri="https://taglitinteg.x.com/XRMServices/2011/Discovery.svc"
                               OrganizationUri="https://taglitinteg.x.com/XRMServices/2011/Organization.svc"
                               UserPrincipalName=""
                               EndpointType="Federation"
                               PermissionConnectionString="Data Source=;Initial Catalog=xxx;Connection Timeout=60;User Id=entitysharingadmin;Password=;">
        <CredentialsClient UserName="" Domain="" Password=""/>
      </ConfigurationCrmService>

      <ConfigurationCrmService Name="ssis" isO365Org="false"
                         SSL="true"
                         ServerAddress="demo.gslab.local:444"
                         OrganizationName="demo"
                         DiscoveryUri="https://demo.gslab.local:444/XRMServices/2011/Discovery.svc"
                         OrganizationUri="https://demo.gslab.local:444/XRMServices/2011/Organization.svc"
                         UserPrincipalName=""
                         EndpointType="Federation"
                         PermissionConnectionString="Data Source=172.18.4.110;Initial Catalog=xxxxx;Connection Timeout=60;User Id=;Password=">
        <CredentialsClient UserName="" Domain="" Password=""/>
      </ConfigurationCrmService>
    </CrmServices>
  </ConfigurationCrm>
</configuration>
